<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>oatmeal</title>
</head>
<body>
<div id="plane-page">
  <section id="airlineapp">
      <header id="header">
      <table class="table">
        <thead>
          <tr>
          <th><a href="/planes">Planes</a></th>
          <th><a href="/flights">Flights</a></th>
          <th><a href="/admin/sign_in">Admin</a></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      </header>

    <section id="main" class="main">
      <table class="table1">
        <thead>
          <tr class="th">
          <th class="title">Oatmeal Airlines</th>
          <th><button class="submit">Create Flight</button></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      </section>

      <section id="content">
        <form class="plane-form">
          <div class="box">
            <table class="table2">
              <thead></thead>
              <tbody>
              <tr>
                <td><input name="name" type="text" placeholder="name" class="text"/></td>
                <td><input name="rows" type="text" placeholder="rows" class="text"/></td>
                <td><input name="columns" type="text" placeholder="cols" class="text"/></td>
                <td></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td colspan="3"><button class="cancel-button">Cancel</button><span class="space"/><button class="submit" type="submit">Save</button></td>

              </tr>       
              </tbody>
            </table>
          </div>
        </form>
      </section>

    <div id="table" class="flight-seat"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script>
    var alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    var rows = 4;      //1-30
    var columns = 5;   //A-H
    var result = "";
    result += "<table class='table4'>";
    result += "<thead>";
    result += "<tr>";
    result +="<td></td>";
    for (var x = 0; x < columns; x++) {
      result += "<td>";
      result += alphabet[x];
      result += "</td>";  
    }    
    result += "</tr>";
    result += "</thead>"

    result += "<tbody>";
    for (var y = 0; y < rows; y++) {
      result += "<tr>"; 
      result += "<td>";
      result += y+1;
      result += "</td>"; 
    for (var x = 0; x < columns; x++) {
        result += "<td>";
        result += "<button class='try-reserve'><span>"
        result += "avail";
        result += "</span></button>"
        result += "</td>";
      }
      result += "</tr>";
    }
    result += "</tbody>";
    result += "</table>";
    $('#table').html(result);
    console.log(result);
  </script>
 </section>

</div>
</body>
</html>


<!-- <p id="notice"><%= notice %></p>

<h1>Listing Planes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rows</th>
      <th>Columns</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planes.each do |plane| %>
      <tr>
        <td><%= plane.name %></td>
        <td><%= plane.rows %></td>
        <td><%= plane.columns %></td>
        <td><%= link_to 'Show', plane %></td>
        <td><%= link_to 'Edit', edit_plane_path(plane) %></td>
        <td><%= link_to 'Destroy', plane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plane', new_plane_path %> -->
