<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>oatmeal</title>

</head>
<body>
<div id="flight-page">
  <section id="airlineapp">
      <header id="header">
      <table class="table">
        <thead>
          <tr>
          <th><a href="">Planes</a></th>
          <th><a href="">Flights</a></th>
          <th><a href="">Admin</a></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      </header>

    <section id="main" class="main">
      <table class="table1">
        <thead>
          <tr class="th">
          <th class="title">Virgin Airlines</th>
          <th><button class="submit">Create Plane</button></th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      </section>

      <section id="content">
          <form class="flight-form">
            <div class="box">
              <table class="table2">
                <thead></thead>
                <tbody>
                  <tr>
                    <td><input name="number" type="text" placeholder="flight#" class="text"/></td>
                    <td><input name="date" type="text" placeholder="date" class="text"/></td>
                    <td><input name="to" type="text" placeholder="to" class="text"/></td>
                    <td><input name="from" type="text" placeholder="to" class="from"/></td>
                  </tr>
                  <tr>
                    <td><input name="plane" type="text" placeholder="plane" class="text"/></td>
                    <td>&nbsp;</td>
                    <td colspan="2"><button class="submit1">Cancel</button><span class="space"/><button class="submit1">Save</button></td>
                  </tr>       
                </tbody>
              </table>
            </div>
        </form>
      </section>

    
      <div class="page">
        <h1>Flights</h1>
        <table>
          <tr>
              <td>
                Date
              </td>
              <td>
                Flight
              </td>
              <td>
                From>To
              </td>
              <td>
                Plane
              </td>
              <td>
                Seats
              </td>
          </tr>
        </table>
          <ul class="flight-list">
          </ul>
      </div>  
   

      <footer id="footer"></footer>
  </section>

</div>
</body>
</html>








<!-- <p id="notice"><%= notice %></p>

<h1>Listing Flights</h1>

<table>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Date</th>
      <th>Plane</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.origin %></td>
        <td><%= flight.destination %></td>
        <td><%= flight.date %></td>
        <td><%= flight.plane.name %></td>
        <td><%= link_to 'Show', flight %></td>
        <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
        <td><%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flight', new_flight_path %> -->
